table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p こんにちは #,
                            p モバイルプラクティスへようこそ.
                            a(href='#' style='background: #FA384D url("http://dev.mobilepractice.io/assets/logo.png") right+10px center no-repeat;\
                            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                            border-radius: 10px;\
                            line-height: 43px;\
                            white-space: nowrap;\
                            text-decoration: none;\
                            color: #fff;\
                            padding: 10px 70px 10px 18px;\
                            display: inline-block;\
                            font-size: 17px;\
                            letter-spacing: -0.41px;\
                            overflow: hidden;\
                            text-overflow: ellipsis;')
                                | 開始するにはアプリをダウンロードしてください
                            br
                            br
                            p チームの他のメンバーと練習するためのビデオ、メッセージ、シナリオを送受信します。
                            br
                            p モバイルプラクティスは、チームの作業方法を改善します。とても楽しいと言われています。

        td
        table.footer-wrap
            tr
                td
