table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p #{userFirstName}, こんにちは。,
                            br
                            p モバイルプラクティスへようこそ.
                            p 素晴らしいパフォーマンスを練習、指導、共有できるモバイルアプリ.
                            br
                            //- table(style="width: 100%")
                            //-     tr
                            //-         td(align="left")
                            //-             p &nbsp;1. Download the app from the App Store or Google Play
                            //-             table(style="width: 100%")
                            //-                 tr
                            //-                     td(align="center")
                            //-                         a(href="https://apps.apple.com/tr/app/mobile-practice/id1286681362")
                            //-                             img(width="300px" src="https://files.mobilepractice.io/images/app_store.png")
                            //-                     td(align="center")
                            //-                         a(href="https://play.google.com/store/apps/details?id=com.mpmobile")
                            //-                             img(width="300px" src="https://files.mobilepractice.io/images/google_play.png")
                            //-             p &nbsp;2. Come back to your welcome email, click on the button below and finish the registration
                            //- p(style="font-weight: bold") To get started on your mobile phone.
                            p(style="font-weight: bold; text-align: center") あなたのスマートフォンで始めるには.
                            p(style="text-align: center") 1.モバイルからアプリをダウンロードします
                                p(style="text-align: center")
                                    a(href='https://apps.apple.com/tr/app/mobile-practice/id1286681362' , target='_blank', style="font-size: 16px; font-weight: bold") App Store
                                    | &nbsp;または&nbsp;
                                    a(href='https://play.google.com/store/apps/details?id=com.mpmobile' , target='_blank', style="font-size: 16px; font-weight: bold") Google Play
                            p(style="text-align: center") 2. 携帯電話でこのウェルカムメールに戻り、をクリックします
                            table(style="width: 100%")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | モバイルプラクティスを開始する
                                        br
                                        br
                                        p(style="font-size: 12px") iOS (ver 13.4.1)、Android (ver 5.0.1)に対応。
                            p(style="text-align: center") __________________
                            p(style="font-weight: bold; text-align: center") PCで始めるには.
                            p(style="text-align: center") クリック&nbsp;
                                a(href='#{link}' , target='_blank') app.mobilepractice.io
                                p(style="font-size: 12px; text-align: center") Chrome、Safari、WindowsのChromiumブラウザに対応。
                            br
                            p(style="text-align: center") または&nbsp;
                                a(href='https://files.mobilepractice.io/Mobile%20Practice%20Setup%202.0.0.exe' , target='_blank') Windowsアプリをダウンロード
                                p(style="font-size: 12px; text-align: center") 会社PCにインストール可能かIT部門に確認してください。
                            //- p Click here for
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004106-webapp-installation-guide' , target='_blank') Installation Guide
                            //-     |,
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004132-mobile-practice-coach-guide' , target='_blank') Coach Guide
                            //-     |,
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004163-mobile-practice-user-guide-en' , target='_blank') User Guide


                    tr
                        td
                            br
                            p モバイルプラクティスのチーム
                            p contact@mobilepractice.io
