table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p 안녕하세요 모바일 프랙티스에 오신 것을 환영합니다.
                            p 비디오, 메시지, 시나리오를 주고 받아 팀원들과 함께 연습하세요.
                            p 모바일 프랙티스는 팀 작업 방식을 개선합니다. 사람들도 꽤 재미있다고 합니다.
                            br
                            table(style="width: 300px")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                          '    padding: 0;\n' +
                                          '    background-color: #f3423c;\n' +
                                          '    border-radius: 5px;\n' +
                                          '    color: #ffffff;\n' +
                                          '    display: inline-block;\n' +
                                          '    font-family: sans-serif;\n' +
                                          '    font-size: 13px;\n' +
                                          '    font-weight: bold;\n' +
                                          '    line-height: 40px;\n' +
                                          '    text-align: center;\n' +
                                          '    text-decoration: none;\n' +
                                          '    width: 350px;\n' +
                                          '    -webkit-text-size-adjust: none;'
                                          )
                                            | 웹 앱 클라이언트에 연결하려면 클릭하세요.
                                        p 또는
                                        a(href='#{appStore}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | 시작하려면 앱을 다운로드하세요.

                    tr
                        td
                            br
                            br
                            p 감사합니다,
                            p 모바일 프랙티스 내 팀 소속
