table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p #{userFirstName},您好
                            br
                            p 欢迎来到Mobile Practice.
                            p 练习、指导和分享精彩表现的移动应用程序。
                            br
                            //- table(style="width: 100%")
                            //-     tr
                            //-         td(align="left")
                            //-             p &nbsp;1. Download the app from the App Store or Google Play
                            //-             table(style="width: 100%")
                            //-                 tr
                            //-                     td(align="center")
                            //-                         a(href="https://apps.apple.com/tr/app/mobile-practice/id1286681362")
                            //-                             img(width="300px" src="https://files.mobilepractice.io/images/app_store.png")
                            //-                     td(align="center")
                            //-                         a(href="https://play.google.com/store/apps/details?id=com.mpmobile")
                            //-                             img(width="300px" src="https://files.mobilepractice.io/images/google_play.png")
                            //-             p &nbsp;2. Come back to your welcome email, click on the button below and finish the registration
                            //- p(style="font-weight: bold") To get started on your mobile phone.
                            p(style="font-weight: bold; text-align: center") 在手机上开启使用.
                            p(style="text-align: center") 1. 从您的手机下载应用程序
                                p(style="text-align: center")
                                    a(href='https://apps.apple.com/tr/app/mobile-practice/id1286681362' , target='_blank', style="font-size: 16px; font-weight: bold") App Store
                                    | &nbsp;或者&nbsp;
                                    a(href='https://play.google.com/store/apps/details?id=com.mpmobile' , target='_blank', style="font-size: 16px; font-weight: bold") Google Play
                            p(style="text-align: center") 2. 在您的手机上返回此欢迎电子邮件，然后单击
                            table(style="width: 100%")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | 与Mobile Practice一同开启全新旅程
                                        br
                                        br
                                        p(style="font-size: 12px") 与iOS（13.4.1版）和Android（5.0.1版）兼容。
                            p(style="text-align: center") __________________
                            p(style="font-weight: bold; text-align: center") 在电脑上开启使用。
                            p(style="text-align: center") 点击&nbsp;
                                a(href='#{link}' , target='_blank') app.mobilepractice.io
                                p(style="font-size: 12px; text-align: center") 与Chrome、Safari和Windows Chromium浏览器兼容。
                            br
                            p(style="text-align: center") 或者&nbsp;
                                a(href='https://files.mobilepractice.io/Mobile%20Practice%20Setup%202.0.0.exe' , target='_blank') 下载 Windows 应用程序
                                p(style="font-size: 12px; text-align: center") 请与IT部门确认您是否可以在公司电脑上安装。
                            //- p Click here for
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004106-webapp-installation-guide' , target='_blank') Installation Guide
                            //-     |,
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004132-mobile-practice-coach-guide' , target='_blank') Coach Guide
                            //-     |,
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004163-mobile-practice-user-guide-en' , target='_blank') User Guide


                    tr
                        td
                            br
                            p Mobile Practice团队
                            p contact@mobilepractice.io
