table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Здравствуйте # ru,
                            p Добро пожаловать на мобильную практику.
                            a(href='#' style='background: #FA384D url("http://dev.mobilepractice.io/assets/logo.png") right+10px center no-repeat;\
                            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                            border-radius: 10px;\
                            line-height: 43px;\
                            white-space: nowrap;\
                            text-decoration: none;\
                            color: #fff;\
                            padding: 10px 70px 10px 18px;\
                            display: inline-block;\
                            font-size: 17px;\
                            letter-spacing: -0.41px;\
                            overflow: hidden;\
                            text-overflow: ellipsis;')
                                | Загрузите приложение, чтобы начать
                            br
                            br
                            p Отправляйте и получайте видео, сообщения и сценарии, чтобы практиковаться с другими членами вашей команды.
                            br
                            p Мобильная практика улучшает работу команд. Люди говорят нам, что это тоже довольно весело.

        td
        table.footer-wrap
            tr
                td
