table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p #, 您好
                            p 欢迎来到Mobile Practice.
                            a(href='#' style='background: #FA384D url("http://dev.mobilepractice.io/assets/logo.png") right+10px center no-repeat;\
                            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                            border-radius: 10px;\
                            line-height: 43px;\
                            white-space: nowrap;\
                            text-decoration: none;\
                            color: #fff;\
                            padding: 10px 70px 10px 18px;\
                            display: inline-block;\
                            font-size: 17px;\
                            letter-spacing: -0.41px;\
                            overflow: hidden;\
                            text-overflow: ellipsis;')
                                | 下载应用程序以开始使用
                            br
                            br
                            p 发送和接收视频、消息和场景，与团队中的其他人一起练习。
                            br
                            p 移动实践改进了团队的工作方式。人们告诉我们这也很有趣。

        td
        table.footer-wrap
            tr
                td
