table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Bonjour #{userFirstName},
                            br
                            p Bienvenue sur Mobile Practice.
                            p L’application pour s’entraîner, coacher et partager des bonnes pratiques.
                            br
                            //- table(style="width: 100%")
                                //- tr
                                //-     td(align="left")
                                //-         p &nbsp;1. Téléchargez l'application depuis l'App Store ou Google Play
                                //-         table(style="width: 100%")
                                //-             tr
                                //-                 td(align="center")
                                //-                     a(href="https://apps.apple.com/tr/app/mobile-practice/id1286681362")
                                //-                         img(width="300px" src="https://files.mobilepractice.io/images/app_store.png")
                                //-                 td(align="center")
                                //-                     a(href="https://play.google.com/store/apps/details?id=com.mpmobile")
                                //-                         img(width="300px" src="https://files.mobilepractice.io/images/google_play.png")
                                //-         p &nbsp;2. Revenez à votre email de bienvenue, cliquez sur le bouton ci-dessous et terminez l'inscription
                            p(style="font-weight: bold; text-align: center") Démarrer depuis votre mobile.
                            p(style="text-align: center") 1. Télécharger l’app depuis 
                                p(style="text-align: center")
                                    a(href='https://apps.apple.com/tr/app/mobile-practice/id1286681362' , target='_blank', style="font-size: 16px; font-weight: bold") App Store
                                    | &nbsp;ou 
                                    a(href='https://play.google.com/store/apps/details?id=com.mpmobile' , target='_blank', style="font-size: 16px; font-weight: bold") Google Play
                            p(style="text-align: center") 2. Revenir à cet email depuis votre mobile et cliquer 
                            table(style="width: 100%")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | Commencer avec Mobile Practice
                                        br
                                        br
                                        p(style="font-size: 12px") Compatible avec iOS (ver 13.4.1) &amp; Android (ver 5.0.1).
                            p(style="text-align: center") __________________
                            p(style="font-weight: bold; text-align: center") Démarrer depuis votre PC.
                            p(style="text-align: center") Cliquer 
                                a(href='#{link}' , target='_blank') app.mobilepractice.io
                                p(style="font-size: 12px; text-align: center") Compatible avec Chrome, Safari &amp; Windows Chromium browsers.      
                            br
                            p(style="text-align: center") Ou 
                                a(href='https://files.mobilepractice.io/Mobile%20Practice%20Setup%202.0.0.exe' , target='_blank') Télécharger Windows App
                                p(style="font-size: 12px; text-align: center") Pensez à vérifier auprès de votre service informatique que vous avez les droits d’installation sur votre PC.
                            

                    tr
                        td
                            br
                            p L’equipe Mobile Practice
                            p contact@mobilepractice.io