table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p 您好,
                            p 您之所以收到这封邮件，是因为您请求重置Mobile Practice的账户密码。如果您未请求执行此次更改，则请忽略此封邮件。
                            p 请点击下方链接，设置新密码并完成请求:
                    tr
                        td(align="center")
                            a(href='#{link}' target='_blank' style='margin: 0;\n' +
                            '    padding: 0;\n' +
                            '    background-color: #f3423c;\n' +
                            '    border-radius: 5px;\n' +
                            '    color: #ffffff;\n' +
                            '    display: inline-block;\n' +
                            '    font-family: sans-serif;\n' +
                            '    font-size: 13px;\n' +
                            '    font-weight: bold;\n' +
                            '    line-height: 40px;\n' +
                            '    text-align: center;\n' +
                            '    text-decoration: none;\n' +
                            '    width: 350px;\n' +
                            '    -webkit-text-size-adjust: none;'
                            )
                                | 创建新密码
                            br
                    tr
                        td
                            br
                            p 谢谢,
                            p Mobile Practice团队
                            a(href='#{web}' , target='_blank')
                                | #{web}
