table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p 안녕하세요 #{userFirstName} 님 ,
                            br
                            p 모바일 프랙티스에 오신 것을 환영합니다.
                            p 프랙티스, 코치를 통해 탁월한 성과를 경험하고 공유하는 모바일 앱입니다.
                            br
                            //- table(style="width: 100%")
                            //-     tr
                            //-         td(align="left")
                            //-             p &nbsp;1. Download the app from the App Store or Google Play
                            //-             table(style="width: 100%")
                            //-                 tr
                            //-                     td(align="center")
                            //-                         a(href="https://apps.apple.com/tr/app/mobile-practice/id1286681362")
                            //-                             img(width="300px" src="https://files.mobilepractice.io/images/app_store.png")
                            //-                     td(align="center")
                            //-                         a(href="https://play.google.com/store/apps/details?id=com.mpmobile")
                            //-                             img(width="300px" src="https://files.mobilepractice.io/images/google_play.png")
                            //-             p &nbsp;2. Come back to your welcome email, click on the button below and finish the registration
                            //- p(style="font-weight: bold") To get started on your mobile phone.
                            p(style="font-weight: bold; text-align: center") 휴대폰에서 시작하기
                            p(style="text-align: center") 1. 휴대폰에서 앱을 다운로드합니다
                                p(style="text-align: center")
                                    a(href='https://apps.apple.com/tr/app/mobile-practice/id1286681362' , target='_blank', style="font-size: 16px; font-weight: bold") App Store
                                    | &nbsp;또는&nbsp;
                                    a(href='https://play.google.com/store/apps/details?id=com.mpmobile' , target='_blank', style="font-size: 16px; font-weight: bold") Google Play
                            p(style="text-align: center") 2. 모바일에서 이 환영 이메일로 돌아가서
                            table(style="width: 100%")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | 모바일 프랙티스 시작하기
                                        br
                                        br
                                        p(style="font-size: 12px") iOS(13.4.1 버전) 및 안드로이드(5.0.1 버전)와 호환됩니다.
                            p(style="text-align: center") __________________
                            p(style="font-weight: bold; text-align: center") PC에서 시작하기
                            p(style="text-align: center") 클릭하기&nbsp;
                                a(href='#{link}' , target='_blank') app.mobilepractice.io
                                p(style="font-size: 12px; text-align: center") 크롬, 사파리, 윈도우 크로미엄 기반 브라우저와 호환됩니다.
                            br
                            p(style="text-align: center") 또는&nbsp;
                                a(href='https://files.mobilepractice.io/Mobile%20Practice%20Setup%202.0.0.exe' , target='_blank') 윈도우 앱을 다운로드할 수 있습니다
                                p(style="font-size: 12px; text-align: center") 기업 PC의 설치 여부는 IT 부서와 확인하세요
                            //- p Click here for
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004106-webapp-installation-guide' , target='_blank') Installation Guide
                            //-     |,
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004132-mobile-practice-coach-guide' , target='_blank') Coach Guide
                            //-     |,
                            //-     a(href='https://resources.mobilepractice.io/en/articles/4004163-mobile-practice-user-guide-en' , target='_blank') User Guide


                    tr
                        td
                            br
                            p 모바일 프랙티스 내 팀 소속
                            p contact@mobilepractice.io
