table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Hallo Willkommen bei Mobile Practice.
                            p Senden und empfangen Sie Videos, Nachrichten und Szenarien, um mit anderen in Ihrem Team zu üben.
                            p Mobile Practice verbessert die Arbeitsweise von Teams. Die Leute sagen uns, dass es auch ziemlich lustig ist.
                            br
                            table(style="width: 300px")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                          '    padding: 0;\n' +
                                          '    background-color: #f3423c;\n' +
                                          '    border-radius: 5px;\n' +
                                          '    color: #ffffff;\n' +
                                          '    display: inline-block;\n' +
                                          '    font-family: sans-serif;\n' +
                                          '    font-size: 13px;\n' +
                                          '    font-weight: bold;\n' +
                                          '    line-height: 40px;\n' +
                                          '    text-align: center;\n' +
                                          '    text-decoration: none;\n' +
                                          '    width: 350px;\n' +
                                          '    -webkit-text-size-adjust: none;'
                                          )
                                            | Klicken Sie hier, um eine Verbindung zum Web-App-Client herzustellen
                                        p oder
                                        a(href='#{appStore}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | Laden Sie die App herunter, um loszulegen

                    tr
                        td
                            br
                            br
                            p Danke,
                            p Das Team von Mobile Practice
