/* -------------------------------------
		GLOBAL
------------------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    background-color: #fff;
}

a {
    color: #348eda;
}

.btn-primary {
    text-decoration: none;
    color: #FFF;
    background-color: #348eda;
    border: solid #348eda;
    border-width: 10px 20px;
    line-height: 2;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}

.btn-secondary {
    text-decoration: none;
    color: #FFF;
    background-color: #aaa;
    border: solid #aaa;
    border-width: 10px 20px;
    line-height: 2;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}

.last {
    margin-bottom: 0;
}

.first {
    margin-top: 0;
}

.padding {
    padding: 10px 0;
}

/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #000;
    margin: 40px 0 10px;
    line-height: 1.2;
    font-weight: 200;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

p, ul, ol {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
}

ul li, ol li {
    margin-left: 5px;
    list-style-position: inside;
}


/* -------------------------------------
		BODY
------------------------------------- */
table.body-wrap {
    width: 100%;
    padding: 20px;
}

table.body-wrap .container {
    width: 100%; 
    display: block;
}

table.email {
    max-width: 600px;
    margin: 0 auto; 
}

table.email .logo {
    text-align: center;
}

table.email .title {
    /* background-color: #d0cece; */
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 5px;
    border-radius: 2px; */
}

table.email .title p{
    margin-bottom: 0px !important;
}

table.email .content {
    border-top: 1px solid #E0E3E5;
    padding-top: 10px;
    padding-bottom: 20px;
}
table.email .content #title {
    font-size: 14px;
}
table.email .content #title span {
    color: #d0cece;
    font-style: italic
}

a.btn{
    background: #f3423c;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    /* border: 1px solid #f3423c; */
    display: inline-block;
}

table.boxs td.box{
    padding: 5px 10px;
}

table.boxs td.box.left {
    border-right: 3px solid #fff;
}
table.boxs td.box.right{
    border-left: 3px solid #fff;
}

table.boxs td.box .head {
    color: #000;
    font-weight: bold;
    font-style: italic;
}

table.boxs td.box .body {
    padding-left: 10px;
    color: #7f787a;
    font-style: italic;
}

p.description {
    color: #000;
    font-style: italic;
    font-size: 12px;
}

p.description span {
    color: #7f787a;
}

span.date {
    color: #7f787a;
    font-size: 11px;
    font-style: italic;
}