table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Hallo #,
                            p Willkommen bei Mobile Practice.
                            a(href='#' style='background: #FA384D url("http://dev.mobilepractice.io/assets/logo.png") right+10px center no-repeat;\
                            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                            border-radius: 10px;\
                            line-height: 43px;\
                            white-space: nowrap;\
                            text-decoration: none;\
                            color: #fff;\
                            padding: 10px 70px 10px 18px;\
                            display: inline-block;\
                            font-size: 17px;\
                            letter-spacing: -0.41px;\
                            overflow: hidden;\
                            text-overflow: ellipsis;')
                                | Laden Sie die App herunter, um loszulegen
                            br
                            br
                            p Senden und empfangen Sie Videos, Nachrichten und Szenarien, um mit anderen in Ihrem Team zu üben.
                            br
                            p Mobile Practice verbessert die Arbeitsweise von Teams. Die Leute sagen uns, dass es auch ziemlich lustig ist.

        td
        table.footer-wrap
            tr
                td
