table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Hola #{userFirstName},
                            p Estás casi ahí.
                            a(href='#{link}' style='background: #FA384D;\
                                                        box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                                                        border-radius: 10px;\
                                                        line-height: 43px;\
                                                        white-space: nowrap;\
                                                        text-decoration: none;\
                                                        color: #fff;\
                                                        padding: 10px 18px 10px 18px;\
                                                        display: inline-block;\
                                                        font-size: 17px;\
                                                        letter-spacing: -0.41px;\
                                                        overflow: hidden;\
                                                        text-overflow: ellipsis;') Confirme su dirección de correo electrónico
                            br
                            br
                            p Hacer esto nos ayuda a asegurarnos de que realmente eres tú.
                    tr
                        td
                            br
                            p Gracias,
                            p El equipo de Mobile Practice
                            a(href='#{web}' , target='_blank')
                                | #{web}
