table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Вас пригласили в "#{company}" компанию как администратора компании.

                            p Перейдите по этой ссылке, чтобы войти.
                            a(href='#{link}') войти в админскую панель
                            br
                    tr
                        td
                            p Мобильная Практика
                                p Наша команда здесь, чтобы помочь &nbsp;
                                    a(href='mailto:success@mobilepractice.io') success@mobilepractice.io
                                a(href='https://www.mobilepractice.io') mobilepractice.io

        td
        table.footer-wrap
            tr
                td
