table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Sie wurden als Unternehmensadministrator zu "#{company}" eingeladen.

                            p Folgen Sie diesem Link, um sich anzumelden.
                            a(href='#{link}') gehe zum Admin-Panel
                            br
                    tr
                        td
                            p Mobile Practice
                                p Unser Team ist für Sie da &nbsp;
                                    a(href='mailto:success@mobilepractice.io') success@mobilepractice.io
                                a(href='https://www.mobilepractice.io') mobilepractice.io

        td
        table.footer-wrap
            tr
                td
