table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p 会社の管理者として "#{company}" 会社に招待されました.

                            p このリンクをたどってログインしてください.
                            a(href='#{link}') 管理パネルに移動
                            br
                    tr
                        td
                            p モバイルプラクティス
                                p 私たちのチームがお手伝いします &nbsp;
                                    a(href='mailto:success@mobilepractice.io') success@mobilepractice.io
                                a(href='https://www.mobilepractice.io') mobilepractice.io

        td
        table.footer-wrap
            tr
                td
