table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Buongiorno!,
                            p Ricevi questa e-mail perché hai richiesto di reimpostare la password per il tuo account Mobile Practice. Se non hai inviato tu la richiesta, puoi tranquillamente ignorare questa e-mail.
                            p Per scegliere una nuova password e completare la richiesta, segui il link qui sotto:
                    tr
                        td(align="center")
                            a(href='#{link}' target='_blank' style='margin: 0;\n' +
                            '    padding: 0;\n' +
                            '    background-color: #f3423c;\n' +
                            '    border-radius: 5px;\n' +
                            '    color: #ffffff;\n' +
                            '    display: inline-block;\n' +
                            '    font-family: sans-serif;\n' +
                            '    font-size: 13px;\n' +
                            '    font-weight: bold;\n' +
                            '    line-height: 40px;\n' +
                            '    text-align: center;\n' +
                            '    text-decoration: none;\n' +
                            '    width: 350px;\n' +
                            '    -webkit-text-size-adjust: none;'
                            )
                                | Crea nuova password
                            br
                    tr
                        td
                            br
                            p Grazie,
                            p Il team di Mobile Practice
                            a(href='#{web}' , target='_blank')
                                | #{web}
