table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Здравствуйте #{userFirstName},
                            p Вы почти у цели.
                            a(href='#{link}' style='background: #FA384D;\
                                                        box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                                                        border-radius: 10px;\
                                                        line-height: 43px;\
                                                        white-space: nowrap;\
                                                        text-decoration: none;\
                                                        color: #fff;\
                                                        padding: 10px 18px 10px 18px;\
                                                        display: inline-block;\
                                                        font-size: 17px;\
                                                        letter-spacing: -0.41px;\
                                                        overflow: hidden;\
                                                        text-overflow: ellipsis;') Подтвердите адрес электронной почты
                            br
                            br
                            p Это поможет нам убедиться, что это действительно Вы.
                    tr
                        td
                            br
                            p Спасибо,
                            p Команда Mobile Practice
                            a(href='#{web}' , target='_blank')
                                | #{web}
