table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Hola bienvenido a Mobile Practice.
                            p Envíe y reciba videos, mensajes y escenarios para practicar con otros miembros de su equipo.
                            p La práctica móvil mejora la forma en que trabajan los equipos. La gente nos dice que también es muy divertido.
                            br
                            table(style="width: 300px")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                          '    padding: 0;\n' +
                                          '    background-color: #f3423c;\n' +
                                          '    border-radius: 5px;\n' +
                                          '    color: #ffffff;\n' +
                                          '    display: inline-block;\n' +
                                          '    font-family: sans-serif;\n' +
                                          '    font-size: 13px;\n' +
                                          '    font-weight: bold;\n' +
                                          '    line-height: 40px;\n' +
                                          '    text-align: center;\n' +
                                          '    text-decoration: none;\n' +
                                          '    width: 350px;\n' +
                                          '    -webkit-text-size-adjust: none;'
                                          )
                                            | Haga clic para conectarse al cliente de la aplicación web.
                                        p o
                                        a(href='#{appStore}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | Descarga la aplicación para empezar

                    tr
                        td
                            br
                            br
                            p Gracias,
                            p El equipo de Mobile Practice
