table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Ciao benvenuto/a su Mobile Practice.
                            p Invia e ricevi video, messaggi e scenari per esercitarti con gli altri nella tua squadra.
                            p Mobile Practice migliora il modo in cui lavorano i team. La gente ci dice che è anche abbastanza divertente.
                            br
                            table(style="width: 300px")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                          '    padding: 0;\n' +
                                          '    background-color: #f3423c;\n' +
                                          '    border-radius: 5px;\n' +
                                          '    color: #ffffff;\n' +
                                          '    display: inline-block;\n' +
                                          '    font-family: sans-serif;\n' +
                                          '    font-size: 13px;\n' +
                                          '    font-weight: bold;\n' +
                                          '    line-height: 40px;\n' +
                                          '    text-align: center;\n' +
                                          '    text-decoration: none;\n' +
                                          '    width: 350px;\n' +
                                          '    -webkit-text-size-adjust: none;'
                                          )
                                            | Fare clic per connettersi al client dell'app Web
                                        p o
                                        a(href='#{appStore}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | Scarica l'app per iniziare

                    tr
                        td
                            br
                            br
                            p Grazie,
                            p Il team di Mobile Practice
