| You have been invited to "#{company}" company in the Mobile Practice application
| | Follow this link to download IOS application.
| | #{appStore}
| | Mobile Practice
| | Our team are here to help success@mobilepractice.io
| | logo links to www.mobilepractice.io