table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Se le ha invitado a la empresa "#{company}" como administrador de la empresa.

                            p Siga este enlace para iniciar sesión.
                            a(href='#{link}') ir al panel de administración
                            br
                    tr
                        td
                            p Mobile Practice
                                p Nuestro equipo está aquí para ayudar &nbsp;
                                    a(href='mailto:success@mobilepractice.io') success@mobilepractice.io
                                a(href='https://www.mobilepractice.io') mobilepractice.io

        td
        table.footer-wrap
            tr
                td
