table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p You have been invited to "#{company}" company as company administrator.

                            p Follow this link to login.
                            a(href='#{link}') go to admin panel
                            br
                    tr
                        td
                            p Mobile Practice
                                p Our team are here to help &nbsp;
                                    a(href='mailto:success@mobilepractice.io') success@mobilepractice.io
                                a(href='https://www.mobilepractice.io') mobilepractice.io

        td
        table.footer-wrap
            tr
                td