table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Ciao #,
                            p Benvenuto/a su Mobile Practice.
                            a(href='#' style='background: #FA384D url("http://dev.mobilepractice.io/assets/logo.png") right+10px center no-repeat;\
                            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                            border-radius: 10px;\
                            line-height: 43px;\
                            white-space: nowrap;\
                            text-decoration: none;\
                            color: #fff;\
                            padding: 10px 70px 10px 18px;\
                            display: inline-block;\
                            font-size: 17px;\
                            letter-spacing: -0.41px;\
                            overflow: hidden;\
                            text-overflow: ellipsis;')
                                | Scarica l'app per iniziare
                            br
                            br
                            p Invia e ricevi video, messaggi e scenari per esercitarti con gli altri nella tua squadra.
                            br
                            p Mobile Practice migliora il modo in cui lavorano i team. La gente ci dice che è anche abbastanza divertente.

        td
        table.footer-wrap
            tr
                td
