table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Bonjour #{userFirstName},
                            p Vous y êtes presque.
                            a(href='#{link}' style='background: #FA384D;\
                                                        box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                                                        border-radius: 10px;\
                                                        line-height: 43px;\
                                                        white-space: nowrap;\
                                                        text-decoration: none;\
                                                        color: #fff;\
                                                        padding: 10px 18px 10px 18px;\
                                                        display: inline-block;\
                                                        font-size: 17px;\
                                                        letter-spacing: -0.41px;\
                                                        overflow: hidden;\
                                                        text-overflow: ellipsis;') Vérifiez votre email
                            br
                            br
                            p Ceci nous permet de vérifier qu'il s'agit bien de vous.

                    tr
                        td
                            br
                            p Merci,
                            p L'équipe Mobile Practice
                            a(href='#{web}' , target='_blank')
                                | #{web}