table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p "#{company}" 회사에 회사 관리자로 초대되었습니다.

                            p 이 링크를 따라 로그인하십시오.
                            a(href='#{link}') 관리자 패널로 이동
                            br
                    tr
                        td
                            p 모바일 프랙티스
                                p 저희 팀이 도와드리겠습니다. &nbsp;
                                    a(href='mailto:success@mobilepractice.io') success@mobilepractice.io
                                a(href='https://www.mobilepractice.io') mobilepractice.io

        td
        table.footer-wrap
            tr
                td
