table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p ¡Hola!,
                            p Hola, estás recibiendo este correo electrónico porque has solicitado un cambio de contraseña para tu cuenta de Mobile Practice. Si no solicitaste este cambio, puedes ignorar este correo.
                            p Para elegir una nueva contraseña y completar tu solicitud, sigue el siguiente enlace:
                    tr
                        td(align="center")
                            a(href='#{link}' target='_blank' style='margin: 0;\n' +
                            '    padding: 0;\n' +
                            '    background-color: #f3423c;\n' +
                            '    border-radius: 5px;\n' +
                            '    color: #ffffff;\n' +
                            '    display: inline-block;\n' +
                            '    font-family: sans-serif;\n' +
                            '    font-size: 13px;\n' +
                            '    font-weight: bold;\n' +
                            '    line-height: 40px;\n' +
                            '    text-align: center;\n' +
                            '    text-decoration: none;\n' +
                            '    width: 350px;\n' +
                            '    -webkit-text-size-adjust: none;'
                            )
                                | Crear una nueva contraseña
                            br
                    tr
                        td
                            br
                            p Gracias,
                            p El equipo de Mobile Practice
                            a(href='#{web}' , target='_blank')
                                | #{web}
