table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p こんにちは モバイルプラクティスへようこそ.
                            p チームの他のメンバーと練習するためのビデオ、メッセージ、シナリオを送受信します。
                            p モバイルプラクティスは、チームの作業方法を改善します。とても楽しいと言われています。
                            br
                            table(style="width: 300px")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                          '    padding: 0;\n' +
                                          '    background-color: #f3423c;\n' +
                                          '    border-radius: 5px;\n' +
                                          '    color: #ffffff;\n' +
                                          '    display: inline-block;\n' +
                                          '    font-family: sans-serif;\n' +
                                          '    font-size: 13px;\n' +
                                          '    font-weight: bold;\n' +
                                          '    line-height: 40px;\n' +
                                          '    text-align: center;\n' +
                                          '    text-decoration: none;\n' +
                                          '    width: 350px;\n' +
                                          '    -webkit-text-size-adjust: none;'
                                          )
                                            | クリックしてWebアプリクライアントに接続します
                                        p または
                                        a(href='#{appStore}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | 開始するにはアプリをダウンロードしてください

                    tr
                        td
                            br
                            br
                            p ありがとうございます,
                            p モバイルプラクティスのチーム
