table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Bonjour Bienvenue dans Mobile Practice.
                            p Envoyez et recevez des vidéos, des messages et des scénarios d'entraînement.
                            p Mobile Practice permet d'améliorer la performance des équipes. De plus, il parait que c'est plutôt sympa...
                            br
                            table(style="width: 300px")
                                tr
                                    td(align="center")
                                        a(href='#{link}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;')
                                            | Cliquez pour vous connecter au client d'application Web
                                        p(style="text-align: center") ou
                                        a(href='#{appStore}' style='margin: 0;\n' +
                                        '    padding: 0;\n' +
                                        '    background-color: #f3423c;\n' +
                                        '    border-radius: 5px;\n' +
                                        '    color: #ffffff;\n' +
                                        '    display: inline-block;\n' +
                                        '    font-family: sans-serif;\n' +
                                        '    font-size: 13px;\n' +
                                        '    font-weight: bold;\n' +
                                        '    line-height: 40px;\n' +
                                        '    text-align: center;\n' +
                                        '    text-decoration: none;\n' +
                                        '    width: 350px;\n' +
                                        '    -webkit-text-size-adjust: none;'
                                        )
                                            | Téléchargez L’app iOS pour commencer
                    tr
                        td
                            br
                            br
                            p Merci !
                            p L'équipe Mobile Practice
