table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Você foi convidado para a empresa "#{company}" como administrador da empresa.

                            p Siga este link para fazer o login.
                            a(href='#{link}') vá para o painel de administração
                            br
                    tr
                        td
                            p Mobile Practice
                                p Nossa equipe está aqui para ajudar &nbsp;
                                    a(href='mailto:success@mobilepractice.io') success@mobilepractice.io
                                a(href='https://www.mobilepractice.io') mobilepractice.io

        td
        table.footer-wrap
            tr
                td
