table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p #{userFirstName} 您好,
                            p 你快到了.
                            a(href='#{link}' style='background: #FA384D;\
                                                        box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                                                        border-radius: 10px;\
                                                        line-height: 43px;\
                                                        white-space: nowrap;\
                                                        text-decoration: none;\
                                                        color: #fff;\
                                                        padding: 10px 18px 10px 18px;\
                                                        display: inline-block;\
                                                        font-size: 17px;\
                                                        letter-spacing: -0.41px;\
                                                        overflow: hidden;\
                                                        text-overflow: ellipsis;') 确认电子邮件地址
                            br
                            br
                            p 这样做有助于我们确保是您本人.
                    tr
                        td
                            br
                            p 谢谢,
                            p Mobile Practice团队
                            a(href='#{web}' , target='_blank')
                                | #{web}
