table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p 안녕하세요 # 님,
                            p 모바일 프랙티스에 오신 것을 환영합니다.
                            a(href='#' style='background: #FA384D url("http://dev.mobilepractice.io/assets/logo.png") right+10px center no-repeat;\
                            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                            border-radius: 10px;\
                            line-height: 43px;\
                            white-space: nowrap;\
                            text-decoration: none;\
                            color: #fff;\
                            padding: 10px 70px 10px 18px;\
                            display: inline-block;\
                            font-size: 17px;\
                            letter-spacing: -0.41px;\
                            overflow: hidden;\
                            text-overflow: ellipsis;')
                                | 시작하려면 앱을 다운로드하세요.
                            br
                            br
                            p 비디오, 메시지 및 시나리오를 주고 받아 팀의 다른 사람들과 연습할 수 있습니다.
                            br
                            p 모바일 프랙티스 는 팀 작업 방식을 개선합니다. 사람들도 꽤 재미있다고 합니다.

        td
        table.footer-wrap
            tr
                td
