table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Hola #,
                            p Bienvenido a Mobile Practice.
                            a(href='#' style='background: #FA384D url("http://dev.mobilepractice.io/assets/logo.png") right+10px center no-repeat;\
                            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);\
                            border-radius: 10px;\
                            line-height: 43px;\
                            white-space: nowrap;\
                            text-decoration: none;\
                            color: #fff;\
                            padding: 10px 70px 10px 18px;\
                            display: inline-block;\
                            font-size: 17px;\
                            letter-spacing: -0.41px;\
                            overflow: hidden;\
                            text-overflow: ellipsis;')
                                | Descarga la aplicación para empezar
                            br
                            br
                            p Envía y recibe videos, mensajes y escenarios para practicar con otros miembros de tu equipo.
                            br
                            p La práctica móvil mejora la forma en que trabajan los equipos. La gente nos dice que también es muy divertido.

        td
        table.footer-wrap
            tr
                td
