table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Hello,
                            p You're receiving this email because you requested a password reset for your Mobile Practice account. If you did not request this change, you can safely ignore this email.
                            p To choose a new password and complete your request, please follow the link below:
                    tr
                        td(align="center")
                            a(href='#{link}' target='_blank' style='margin: 0;\n' +
                            '    padding: 0;\n' +
                            '    background-color: #f3423c;\n' +
                            '    border-radius: 5px;\n' +
                            '    color: #ffffff;\n' +
                            '    display: inline-block;\n' +
                            '    font-family: sans-serif;\n' +
                            '    font-size: 13px;\n' +
                            '    font-weight: bold;\n' +
                            '    line-height: 40px;\n' +
                            '    text-align: center;\n' +
                            '    text-decoration: none;\n' +
                            '    width: 350px;\n' +
                            '    -webkit-text-size-adjust: none;'
                            )
                                | Create new password
                            br
                    tr
                        td
                            br
                            p Thanks,
                            p The team at Mobile Practice
                            a(href='#{web}' , target='_blank')
                                | #{web}