table.body-wrap
    tr
        td
        td.container
            .content
                table
                    tr
                        td
                            p Sei stato invitato all'azienda "#{company}" come amministratore dell'azienda.

                            p Segui questo link per accedere.
                            a(href='#{link}') vai al pannello di amministrazione
                            br
                    tr
                        td
                            p Mobile Practice
                                p Il nostro team è qui per aiutarti &nbsp;
                                    a(href='mailto:success@mobilepractice.io') success@mobilepractice.io
                                a(href='https://www.mobilepractice.io') mobilepractice.io

        td
        table.footer-wrap
            tr
                td
